@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var img = db.Images.ToList();  
}

@* display products *@
<div class="row mt-1 m-2">

    @foreach (Product prod in Model)
    {
        <div class="col-xl-3 col-sm-6">
            <div class="card mt-5">
                <div class="d-flex card-marks">
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Product" asp-route-id="@prod.ProductId" class="m-1"><i class="fa-solid fa-pen-to-square" style="color: darkorange;"></i></a>
                        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="m-1"><i class="fa-solid fa-trash" style="color: darkorange;"></i></a>
                    }                  
                </div>

                @* paste default image *@
                @if(prod.ImageId is null)
                {
                    <img src="~/images/static/template_product.png" class="card-img-top" height="370">
                }
                else
                {
                    <img src="~/images/product/@img.FirstOrDefault(u => u.ImageId == prod.ImageId).Path" class="card-img-top" height="370">
                }
                <div class="card-body">
                    <h5 class="card-title fw-semibold m-1 mb-3">@prod.Title</h5>
                    <div class="d-flex align-items-center">
                        <p class="card-menu fw-fold">@prod.Menu.Name</p>
                    </div>
                    <p class="card-text m-1">@prod.Description</p>
                    <div class="d-flex">
                        <h6 class="fw-bold m-1">@prod.Price₽</h6>
                        <h6 class="m-1">@prod.Weight@prod.WeightValue</h6>
                    </div>
                </div>
            </div>
        </div>


        @* modal for deleting product *@
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Подтвердите действие</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>Вы действительно хотите удалить выбранный продукт?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Отмена</button>
                        <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@prod.ProductId" type="button" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    }   
    
</div>
